<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-body text-center">
    <h1>Converter</h1>
    <hr>
    <%= form_tag(converters_path, method: :get) do %>
      <div class="row">
        <div class="col">
          <label class="form-label">
            Amount:
          </label>
          <%= text_field_tag(:amount, params[:amount], class: 'form-control') %>
        </div>
        <div class="col">
          <label class="form-label">
            Base Currency:
          </label>
          <%= text_field_tag(:base_currency, params[:base_currency], class: 'form-control', placeholder: 'USD') %>
        </div>
        <div class="col">
          <label class="form-label">
            Target Currency:
          </label>
          <%= text_field_tag(:target_currency, params[:target_currency], class: 'form-control', placeholder: 'EUR') %>
        </div>
        <div class="col">
          <label class="form-label">
            Result:
          </label>
          <%= text_field_tag(:result, @converted_amount, class: 'form-control', readonly: true) %>
        </div>
      </div>
      <input type="submit" value="Convert" class="btn btn-sm btn-outline-success mt-2">
    <% end %>
  </div>
</div>
